.landing-container {
    padding: 80px 144px;
}

.logo-div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 48px;
}

.logo-div-text {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-2xl);
    line-height: normal;
}

.under-logo-text {
    font-size: var(--font-size-xl);
    color: var(--color-intense-blue);
    line-height: normal;
}

.landing-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.landing-info-btns {
    display: flex;
    gap: 20px;
}

.landing-info-text {
    padding-bottom: 32px;
    text-align: justify;
    font-size: var(--font-size-lg);
}

.landing-info-img {
    width: 80%;
}