.team-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: right;
    gap: 12px;
}

.team-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.team-item_role {
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.team-item_copy-btn:hover img {
    stroke: var(--color-dark-blue); 
}