.team-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.team-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.team-item_role {
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--color-white);
    background-color: var(--color-blue);
}
