.header-container {
    z-index: 1000;
    position: fixed;
    padding: 28px;
    width: 100%;
    background-color: var(--color-dark-blue);
}

.links-container {
    display: flex;
    gap: 50px;
}

.nav-item {
    font-size: var(--font-size-lg);
    color: var(--color-blue);
}

.nav-item-active {
  color: var(--color-white);
  filter: brightness(10)
}

.logo-nav {
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}

.header-logo-img {
    width: 24px;
    margin-right: 10px;
    filter: brightness(10);
}

.push-right {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
}