.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.form-input {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    color: var(--color-dark-blue);
    background-color: var(--color-grey);
}