.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.form-input {
    width: 100%;
    padding: 16px;
    border-radius: 20px;
    color: var(--color-dark-blue);
    background-color: var(--color-grey);
}

.password-input-wrapper {
    position: relative;
    width: 100%;
}

.password-toggle-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-error {
    color: #B80205;
}