body {
  margin: 0;
  padding: 0;

  overflow-y: scroll;

  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  color: var(--color-dark-blue);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  width: fit-content;
  border-radius: 10px;
  border: none;
  padding: 16px 40px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.button--active {
  color: var(--color-grey);
  background-color: var(--color-intense-blue);
}

.button--inactive-pending {
  color: var(--color-grey);
  background-color: var(--color-blue);
}

.button--inactive {
  color: #b2b2b2;
  background-color: var(--color-grey);
}

.button--red {
  color: var(--color-red);
  background-color: var(--color-white);
  border: solid 1px var(--color-red);
}

.grey-input {
  width: 100%;
  padding: 16px;
  appearance: 'none';
  border-radius: 20px;
  color: var(--color-dark-blue);
  background-color: var(--color-grey);
}

.grey-select {
  width: 100%;
  padding: 16px;
  border-radius: 20px;
  color: var(--color-dark-blue);
  background-color: var(--color-grey);
}