.admin-links-container {
    z-index: 1000;
    position: fixed;
    width: 100%;
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: var(--color-grey);
}

.admin-nav-item {
    font-size: var(--font-size-lg);
    color: var(--color-blue);
}

.admin-nav-item-active {
    font-size: var(--font-size-lg);
    color: var(--color-dark-blue);
}

.admin-container-content {
    padding-top: 39.2px;
}